@import url("./input.css");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-clip-margin: border-box;
	font-family: sans-serif;
}

h1 {
	text-transform: uppercase;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
	color: gray;
}

a {
	pointer-events: auto;
}

main {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	gap: 1rem;
	width: 100vw;
	margin: auto;
}

main>* {
	flex: auto;
}

main #criteria {
	width: 100%;
}


@media screen and (max-width: 768px) {
	main {
		padding: 2rem 1rem;
	}
}